# NOTE: apply whitelist principle
*
!/.gitignore

# ================================================================
# MAIN FOLDER
# ================================================================

!/README.md
!/justfile

# ================================================================
# PROJECT PARTS - PACKAGES
# ================================================================

!/ROS
!/ROS/*/
!/ROS/*/config
!/ROS/*/config/*.yaml
!/ROS/*/launch
!/ROS/*/launch/*.launch
!/ROS/*/src
!/ROS/*/src/**/
!/ROS/*/src/**/*.py
!/ROS/*/CMakeLists.txt
!/ROS/*/package.xml

# ================================================================
# AUXLIARY
# ================================================================

/logs

# ================================================================
# ARTEFACTS AND LOCAL USAGE ONLY
# ================================================================

/**/__archive__*
/**/sandbox
/**/.vscode
/**/.pytest_cache
/**/__pycache__
/**/.DS_Store

# ================================================================
# Git Keep
# ================================================================

!/**/.gitkeep
